@charset "utf-8";
table tbody #header_table {
	background-color: #27AE60;
}
table {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 2px #4D4D4D;
}

.ui-corner-all {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-color: rgba(255,255,255,0.59);
}
.ui-btn {
	border-radius: 0px;
	margin: 0;

}
#div_event form {
	background-color: rgba(44,62,80,0.33);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
#div_event form #filterTable-input {
	border-radius: 20px;
}
.ui-shadow-inset {
	margin-bottom: 0px;
}

.ui-icon-delete {
	background-image: url(../themes/images/icons-png/delete-white.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.ui-icon-carat-d {
	background-image: url(../themes/images/icons-png/carat-d-white.png);
}
#div_event caption  {
	font-size: xx-large;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #2C3E50;
	color: #FFFFFF;
	text-align: center;
}
.ui-table caption {
	opacity: 1;
	margin-bottom: 5px;
}
tr td .star {




}
tr td .time_highlight {
	color: rgba(255,0,4,1.00);
	font-weight: bolder;
}
#event-table tbody .clean-up {
	background-image: url(../img/_event_icon/Clean_evni.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: rgba(39,174,96,0.90);
	background-size: auto 80%;
}
#event-table tbody .discover {
	background-image: url(../img/_event_icon/Discover.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #2980B9;
	background-size: auto 80%;
}
#event-table tbody .plant-tree {
	background-image: url(../img/_event_icon/Plant_tree.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #8E44AD;
	background-size: auto 80%;
}
#event-table tbody .other {
	background-image: url(../img/_event_icon/other.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: #E67E22;
	background-size: auto 80%;
}
.ui-btn-icon-right  {
	background-color: #16A085;
	background-position: 96% 50%;
	background-repeat: no-repeat;


}
#div_event .cater-select {
	color: #FF0004;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.ui-select {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
	font-variant: small-caps;
	font-weight: bolder;
	font-size: large;
	margin-left: 10%;
	margin-right: 10%;
}
