@charset "utf-8";


#site_footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}
#site_footer .footer_btn {
	background-color: #34495E;
	float: left;
	width: 33.33%;
	text-align: center;
	line-height: 0px;
	border: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#site_footer .footer_btn:active {
	background-color: #5BA0F3;

}
#site_footer .home {
	background-color: #2C3E50;
}
#map-canvas {
	position: relative;
	z-index: 0;
	display: block;
}
